# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://zipwntwogztvztllyfmn.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_mUl_9NrZ4DxCnMLvzoE-0g_AaC7AllX

# Application Settings
VITE_APP_NAME=bitcode
VITE_APP_URL=http://localhost:3000
